<script src="/clients/db.js"></script>
<html ng-app>
	<div class="panel panel-primary" ng-controller="ViewCtrl">
		<div class="panel-heading">
			<h3 class="panel-title">Database</h3>
		</div>
		<div class="panel-body">
			<table class=''>				
				<tbody>
					<tr>
						<td>Link : </td>
						<td><input type="text" ng-model="db.link"></td>
					</tr>
					<tr>
						<td>User : </td>
						<td><input type="text" ng-model="db.user"></td>
					</tr>
					<tr>
						<td>Password : </td>
						<td><input type="text" ng-model="db.password"></td>
					</tr>
					<tr>
						<td>Database : </td>
						<td><input type="text" ng-model="db.dbname"></td>
					</tr>
					<tr>
						<td>Note : </td>
						<td><input type="text" ng-model="db.note"></td>
					</tr>
					<tr>
						<td><input class="btn btn-success" type="button" value="Save" ng-click="save()"></td>						
					</tr>
				</tbody>		
			</table>
		</div>		
	</div>
</html>