<div>
	<h3>Add new product</h3>	
</div>
<div class="input-group">
	<form method='post' action='/admin/product/add'>
		<table>
			<tr>
				<td><label>Product title</label></td>
				<td><input type="text" name="title" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Product catalog</label></td>
				<td><input type="text" name="catalog" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Product name</label></td>
				<td><input type="text" name="p_name" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Outline</label></td>
				<td><input type="text" name="outline" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Configuration</label></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><label>CPU</label></td>
				<td><input type="text" name="CPU" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>RAM</label></td>
				<td><input type="text" name="RAM" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>VGA</label></td>
				<td><input type="text" name="VGA" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>HDD</label></td>
				<td><input type="text" name="HDD" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Others</label></td>
				<td><input type="text" name="other" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Price</label></td>
				<td><input type="text" name="price_number" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Currency</label></td>
				<td><input type="text" name="price_currency" class="form-control"></td>
				<td></td>
			</tr>
			<tr>
				<td><input type='submit' value='Save' class='btn btn-success'></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</form>	
</div>