<%
	var page = 'home';
	if(locals.section){
		page = section;
	}	
%>
<link href="/stylesheets/header.css" rel="stylesheet" media="screen">
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
	    <div class="navbar-header">
	        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
	        <a href="/" class="navbar-brand">Homepage</a>
	    </div>
	    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	        <ul class="nav navbar-nav">		        	     	
		        <li id='page-manage'>
		            <a href="/admin/product/">Product</a>
		        </li>
		        <li id='page-admin'>
		            <a href="/admin/">Admin</a>
		        </li>		       
	        </ul>
	    </nav>
    </div>
</header>
<div class="bs-header" id="content">
    <div class="container">
	    <h1>Admin page</h1>
	    <p>This is the prototype</p>	    
    </div>
</div>
<div class="bs-old-docs">
  <div class="container">      
  </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){		
		setActiveTopMenu();
	});
	// function set active for top menu
	function setActiveTopMenu() {
		var onpage = '<%=page%>';		
		if(onpage) {
			if ( onpage === 'product' ) {
				$('#page-manage').addClass('active');
			} else if ( onpage === 'admin' ) {
				$('#page-admin').addClass('active');
			} else {
				
			}
		}
	}
</script>