<div>

</div>
<div>
	<form method='post' action='/admin/product/add'>
		<table>
			<tr>
				<td><label>Product title</label></td>
				<td><input type="text" name="title" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Product catalog</label></td>
				<td><input type="text" name="catalog" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Product name</label></td>
				<td><input type="text" name="p_name" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Outline</label></td>
				<td><input type="text" name="outline" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Configuration</label></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><label>CPU</label></td>
				<td><input type="text" name="CPU" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>RAM</label></td>
				<td><input type="text" name="RAM" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>VGA</label></td>
				<td><input type="text" name="VGA" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>HDD</label></td>
				<td><input type="text" name="HDD" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Others</label></td>
				<td><input type="text" name="other" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Price</label></td>
				<td><input type="text" name="price_number" ></td>
				<td></td>
			</tr>
			<tr>
				<td><label>Currency</label></td>
				<td><input type="text" name="price_currency" ></td>
				<td></td>
			</tr>
			<tr>
				<td><input type='submit' value='Save' class='btn btn-success'></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</form>	
</div>